<!DOCTYPE html>
<html>
   <head>
      <base href="/">
      <title>Angular QuickStart</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <% if (webpackConfig.htmlElements.headTags) { %>
         <%= webpackConfig.htmlElements.headTags %>
      <% } %>
   </head>

   <body>
      <urm-app>Loading AppComponent content here ...</urm-app>
   </body>

   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeY0snjiW8-Yu-sc4nhb4nc3D-aek1-vQ&libraries=places"></script>
</html>
